/*-----------============= for mobile ==================--------------- */

@media only screen and (max-width: 767px) {
  html,
  body {
    overflow: auto;
  }

  body {
    overflow-x: hidden;
  }
  .header .logo {
    width: 50%;
  }
  .header {
    padding: 10px 15px 10px 10px;
  }
  .banner-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 11vw;
    padding: 27vw 10vw;
  }
  .white-btn-basketball-button-container svg {
    width: 15px;
    height: 15px;
    border-radius: 1px;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 9vw;
    font-family: "Nova-seven";
  }
  .white-btn-basketball-button-container {
    display: none;
  }
  .left-section h2 {
    font-size: 11vw;
    text-align: start;
    white-space: nowrap;
  }
  .left-section {
    width: 100%;
  }
  .right-section {
    width: 100%;
  }
  .about-wrapper {
    flex-direction: column;
    padding: 0 10vw;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }
  .about > h2 {
    font-size: 10vw;
    margin-bottom: 12vw;
  }
  .about > h2:before {
    left: 35%;
    width: 31%;
  }
  .about-right > h2 {
    font-size: 8vw;
  }
  .about-left {
    margin-bottom: 4vw;
  }
  .about-right p {
    font-size: 5.5vw;
    padding-right: 10vw;
    line-height: 1.2;
  }
  .inner-heading h3 {
    font-size: 10vw;
  }
  .inner-heading p {
    font-size: 6vw;
  }
  .inner-heading {
    margin-bottom: 10vw;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skill-image {
    width: 25%;
  }
  .skill h3 {
    font-size: 5.5vw;
    font-family: "Nova-two";
  }
  .skill p {
    font-size: 5vw;
    line-height: 1.2;
  }

  .skill {
    margin-bottom: 9vw;
  }
  .about {
    margin-bottom: 10vw;
    padding: 5vw 0 30vw 0;
  }
  .skill-wrapper {
    margin-bottom: 20vw;
    padding: 10vw 10vw;
  }
  .work-section h3 {
    font-size: 10vw;
    margin-bottom: 10vw;
  }
  .work-section h3:before {
    left: 35%;
    width: 34%;
  }
  .work-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 10vw;
  }
  .hobbies-wrapper h2 {
    font-size: 10vw;
    margin-bottom: 9vw;
  }
  .hobbies-wrapper h2:before {
    width: 39%;
    left: 31%;
  }
  .hobbies-wrapper {
    margin-bottom: 30vw;
  }
  .hobbies {
    flex-direction: column;
    padding: 10vw 10vw;
  }
  .hoby-left {
    width: 100%;
    margin-bottom: 10vw;
  }
  .hoby-right {
    width: 100%;
  }
  .hobbies-image {
    width: 65%;
  }
  .hobbies-content {
    width: 35%;
    left: 64%;
    top: 60%;
  }

  .hobbies-content h3 {
    font-size: 10vw;
  }
  .hobbies-content p {
    font-size: 4vw;
    width: 290px;
    position: relative;
    top: -1.5vw;
  }
  .hoby-right:before {
    background: var(--cyan);
    width: 1px;
    height: 97%;
  }
  .inner-hobbies {
    padding: 8px;
    width: 25%;
  }
  .hoby-right {
    padding-left: 2vw;
  }
  .right-hobby-caption h3 {
    font-size: 4.8vw;
    white-space: nowrap;
  }
  .right-hobby-caption p {
    font-size: 4.2vw;
  }
  .hoby-items {
    flex-direction: column;
  }
  .right-hobby-caption {
    width: 100%;
  }

  .slide h2 {
    word-spacing: -6px;
    letter-spacing: 0;
    font-size: 8vw;
  }
  .slide h2 span {
    font-size: 8vw;
  }
  .contact h2 {
    font-size: 10vw;
    margin-bottom: 13vw;
  }
  .social-icons {
    gap: 3vw;
    margin-bottom: 17vw;
    width: 66%;
  }

  .social-icons .icons {
    width: 17%;
  }

  .icons img {
    border-radius: 11px;
  }
  .mail-section .primary a {
    margin: 0;
  }
  .mail-section {
    border-radius: 3px;
    padding: 10px 8px;
    grid-gap: 6vw;
    width: 86%;
  }
  .mail-section .primary a img {
    width: 10%;
  }
  .mail-section .primary a {
    font-size: 4.4vw;
    grid-gap: 3vw;
    align-items: center;
    white-space: nowrap;
  }
  .mail-section {
    margin-bottom: 20vw;
    padding: 25px 19px;
    border-radius: 7px;
    background: #fff;
  }
  .running-slider {
    margin-bottom: 20vw;
  }
  .slide {
    margin: 0 30px;
  }
  .contact {
    padding: 11vw 0 6vw 0;
  }
  .contact p {
    font-size: 13px;
  }

  .hoby-items:hover .inner-hobbies img {
    transform: scale(1.2);
  }

  .menu-btn {
    cursor: pointer;
    z-index: 1101;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    color: #000;
    display: block;
    font-size: 7vw;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 55vh;
    background: var(--cyan);
    transition: all 0.6s ease;
    z-index: 1100;
    padding-top: 20vh;
    transform: translateX(-100%);
  }

  /* Sidebar open */
  .nav-links.active {
    left: 0;
    height: 55vh;
    padding: 9vh 0 0 11vw;
    transform: translateX(0);
  }

  .nav-links.active::before {
    opacity: 1;
    visibility: visible;
  }

  .menu-btn.active {
    color: white !important;
    background: transparent;
  }
  .loader {
    font-size: 10vw;
  }
  .classsvglogo {
    font-size: 15vw;
  }
  .copytext h2 span {
    font-size: 15vw;
    line-height: 1.3;
  }
}
